# ==================== Firmware (STM32) ====================
# Ignoruj pliki wynikowe kompilacji
firmware/*.o
firmware/*.elf
firmware/*.bin
firmware/*.map
firmware/*.lst
firmware/*.vscode
# Ignoruj całe katalogi buildowe
firmware/build/
firmware/debug/

# ==================== Software (RPi) ====================
# Ignoruj pliki Pythona
software/__pycache__/
software/*.pyc

# ==================== Hardware (KiCad) ====================
# Ignoruj pliki wynikowe KiCad
hardware/*.kicad_pcb-bak
hardware/*.kicad_sch-bak
hardware/*.net
hardware/*.pro

# Ignoruj katalogi z outputem Gerberów/PDFów
hardware/gerbers/
hardware/pdf/
